<div>
    <H2>Korisnici</H2>
    <app-podaci-okorisniku></app-podaci-okorisniku>
</div>
<br>
<br>
<div>
    <form ngNativeValidation [formGroup]="dodavanjeForm" (submit)="dodaj(dodavanjeForm.value)">
        <input type="text" formControlName="username" placeholder="username" required>
        <br>
        <input type="password" formControlName="password" placeholder="password" required>
        <br>
        <select formControlName="rola">
            <option ng-value="ROLE_ADMIN">Admin</option>
            <option ng-value="ROLE_USER">User</option>
        </select>
        <input type="submit" value="Dodaj">
    </form>
</div>